<section class="section" id="our-team">
  <h1 class="section-heading wow fadeIn" data-wow-delay="0.2s">What is “Leadership In Wonderland” about?</h1>
  <p class="section-description wow fadeIn" data-wow-delay="0.4s"> An entertaining self discovery guide for anybody who wants to be more confident
    in their leadership abilities at work, as a student or as a volunteer. It is
    filled with personalities and situations common in the real world.
  </p>
  <br>
  <div class="row">
    <div class="col-lg-6 col-md-12 m-b-r wow fadeInLeft" data-wow-delay="0.2s">
      <div class="description">
        <hr class="hr-dark wow fadeInLeft">
        <p class="wow fadeInLeft" data-wow-delay="0.4s"> Alice receives a wake-up call that her business is faltering and needs her
          attention. She had stepped away from the running of her company, Leaves-of-Wonderland,
          and must consider returning to it or face its downfall. Trouble lurks everywhere
          and she must distinguish between what is real and what is gossip.
        </p>
        <br>
        <p class="wow fadeInLeft" data-wow-delay="0.4s">Join Alice and her band of quirky characters in this leadership adventure
          as she discovers what it really takes to be a LEADER.
        </p>
      </div>
    </div>
    <div class="col-lg-6 col-md-12 m-b-r wow fadeInRight">
      <div class="videotext">
        <h5>Susan Goldberg Talks To "Talking Alternative Broadcasting"</h5>
      </div>
      <div class="video">
        <div class="embed-responsive embed-responsive-16by9 wow fadeInRight">
          <iframe width="540" height="303" src="https://www.youtube.com/embed/0M3dfIro6hE"
            frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
      <a href="audio/susan.mp3">
        <h5>Download Audio Here >></h5></a>
    </div>
  </div>
</section>
