<div class="container-fluid contactbg">
  <section class="section" id="contact">
    <h1 class="section-heading wow fadeIn" data-wow-delay="0.2s">Contact</h1>
    <div class="row">
      <div class="col-md-8">
        <form id="cont">
          <div class="row">
            <div class="col-md-6 wow fadeInLeftBig">
              <div class="md-form">
                <div class="md-form">
                  <input type="text" id="name" name="name" class="form-control" required>
                  <label for="form41" class="">Your name*</label>
                </div>
              </div>
            </div>
            <div class="col-md-6 wow fadeInLeftBig">
              <div class="md-form">
                <div class="md-form">
                  <input type="text" id="Email" name="email" class="form-control" required>
                  <label for="form52" class="">Your email*</label>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 wow fadeInLeftBig" data-wow-delay="0.2s">
              <div class="md-form">
                <input type="text" id="subject" name="subject" class="form-control" required>
                <label for="form51" class="">How did you find us?*</label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 wow fadeInLeftBig" data-wow-delay="0.3s">
              <div class="md-form">
                <textarea type="text" id="message" name="message" class="md-textarea" required></textarea>
                <label for="form76">Your message to us*</label>
              </div>
            </div>
          </div>
          <div class="center-on-small-only wow fadeInLeftBig" data-wow-delay="0.4s">
            <button type="submit" class="btn btn-comm btn-lg waves-effect waves-light subscribe">Send</button>
          </div>
        </form>
      </div>
      <div class="col-md-4">
        <ul class="contact-icons">
          <li class="wow slideInUp"><i class="fa fa-map-marker fa-2x"></i>
            <p>New York, NY 10012, USA</p>
          </li>
          <li class="wow slideInUp" data-wow-delay="0.2s"><i class="fa fa-phone fa-2x"></i>
            <p>+ 01 234 567 89</p>
          </li>
          <li class="wow slideInUp" data-wow-delay="0.4s"><i class="fa fa-envelope fa-2x"></i>
            <p>Leadership.in.Wonderland@gmail.com</p>
          </li>
        </ul>
      </div>
    </div>
  </section>
</div>
