<footer class="page-footer center-on-small-only" style="background-color:grey;">
  <div class="social-section">
    <ul>
      <li>
        <a href="https://www.facebook.com/LeadershipinWonderland/" target="_blank" class="btn-floating btn-small btn-fb"><i class="fa fa-facebook"> </i></a>
      </li>
      <li>
        <a href="https://twitter.com/LIWAlice" target="_blank" class="btn-floating btn-small btn-tw"><i class="fa fa-twitter"> </i></a>
      </li>

      <li>
        <a class="btn-floating btn-small btn-li"><i class="fa fa-linkedin"> </i></a>
      </li>
    </ul>
  </div>
  <div class="footer-copyright">
    <div class="container-fluid">
      © 2016 Leadership In Wonderland
    </div>
  </div>
  <div class="container-fluid gurujada">
    <center>Powered By
      <a href="https://www.gurujada.com/" target="_blank">Gurujada</center>
  </div>
</footer>
