<header>
  <div class="view hm-black-light">
    <div class="full-bg-img flex-center">
      <div class="container">
        <div class="row" id="home">
          <div class="col-lg-8">
            <div class="description">
              <h2 class="h2-responsive wow fadeInLeft" data-wow-delay="0.2s">“I don't have the experience or education<br>
                – Who am I to lead? What if I fail?” </h2>
              <hr class="hr-dark wow fadeInLeft">
              <p class="wow fadeInLeft" data-wow-delay="0.4s">Sometimes being a leader can feel like you are falling down the rabbit
                hole.
              </p>
              <br>
              <a href="https://www.amazon.com/Leadership-Wonderland-Susan-Goldberg-ebook/dp/B01HFKT8WI/ref=sr_1_1?ie=UTF8&qid=1474457831&sr=8-1&keywords=leadership+in+wonderland"
                target="_blank" class="btn btn-warning btn-lg wow fadeInLeft" data-wow-delay="0.7s"><i class="fa fa-shopping-cart" aria-hidden="true"></i>&nbsp Buy Now
                On Amazon </a>
              <a href="/LIW_fillable_forms.pdf" target="_blank">
                <p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Read A Sample Chapter >></p>
              </a>
              </br>
              </br>
              <span class="text-center fillable">Download Fillable Forms</span>
              <form id="foo">
                <div class="md-form">
                  <i class="fa fa-envelope prefix ema"></i>
                  <label for="form2">Your email*</label>
                  <input type="text" id="email" class="form-control" name="email" required>
                  <button type="submit" class="btn btn-comm btn-lg waves-effect waves-light subscribe">Subscribe</button>
                </div>
              </form>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
              <div class="flipper">
                <div class="front">
                  <img src="images/fron.png" />
                </div>
                <div class="back">
                  <img src="images/back.png" />
                </div>
              </div>
            </div>
            <div class="clearfix"> </div>
          </div>
        </div>
        <div class="row">
        </div>
      </div>
    </div>
  </div>
</header>
