<nav class="navbar navbar-dark navbar-fixed-top scrolling-navbar">
  <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse"
    data-target="#collapseEx">
    <i class="fa fa-bars"></i></button>
  <div class="container">
    <div class="collapse navbar-toggleable-xs" id="collapseEx">
      <a class="navbar-brand" href="index.html"><strong>Leadership In Wonderland</strong>
        <span class="sr-only">(current)</span>
      </a>
      <a class="navbar-brand" href="index.html"> </a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
      <a class="navbar-brand" href="workshop.html">Workshops</a>
      <a class="navbar-brand" href="blog.html">Blog</a>
      <ul class="nav navbar-nav nav-flex-icons">
        <li class="nav-item wow rubberBand" data-wow-delay="0.2s">
          <a href="https://www.facebook.com/LeadershipinWonderland/" target="_blank" class="nav-link"><i class="fa fa-facebook"></i></a>
        </li>
        <li class="nav-item wow rubberBand" data-wow-delay="0.3s">
          <a href="https://twitter.com/LIWAlice" class="nav-link" target="_blank"><i class="fa fa-twitter"></i></a>
        </li>
      </ul>
    </div>
  </div>
</nav>
