<div class="col-lg-6 col-md-6 wow fadeInLeft" data-wow-delay="0.3s">
  <div class="card-wrapper">
    <div id="card-2" class="card-rotating effect__click">
      <div class="face front">
        <div class="card-up">
          <img src="http://mdbootstrap.com/images/regular/nature/img%20(64).jpg">
        </div>
        <div class="avatar"><img src="images/rebecca.jpg" class="img-circle img-responsive">
        </div>
        <div class="card-block">
          <a href="authors.html#best-features1">
            <h4>Rebecca Lacy</h4></a>
          <p>Pinnacle Management Group</p>
          <a class="rotate-btn" data-card="card-2"><i class="fa fa-repeat"></i> Click here to rotate</a>
        </div>
      </div>
      <div class="face back">
        <h4>About me</h4>
        <hr>
        <p>Rebecca Lacy has spent her career assisting individuals and organizations
          achieve new levels of success. She co-founded her company with
          the aim to help create environments where people enjoy working
          after having studied thousands of companies and what made the
          difference between those that thrived and others that merely
          survived. The lessons she learned helped the company develop
          a set of tools, which have allowed clients to create workplaces
          where innovation and ownership are the norm.
        </p>
        <hr>
        <ul class="inline-ul">
          <li>
            <a href="https://www.facebook.com/Pinnacle.Management.Group/" target="_blank" class="icons-sm fb-ic"><i class="fa fa-facebook"></i></a>
          </li>
          <li>
            <a href="http://www.womensvoicesmagazine.com/impact-section/extraordinary-ordinary-women/"
              target="_blank" class="icons-sm tw-ic"><i class="fa fa-globe"></i></a>
          </li>
          <li>
            <a href="https://www.linkedin.com/in/rebeccalacy" target="_blank" class="icons-sm li-ic"><i class="fa fa-linkedin"> </i></a>
          </li>
        </ul>
        <a class="rotate-btn" data-card="card-2"><i class="fa fa-undo"></i> Click here to rotate back</a>
      </div>
    </div>
  </div>
</div>
